<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>绿驰汽车</title>
<meta name="viewport"
	content="initial-scale=1, maximum-scale=1, user-scalable=no" />
<link rel="stylesheet" th:href="@{/css/frozen.css}" />

<style>
.block {
	position: relative;
}

.ui-notice {
	position: relative;
	padding: 20px 15px;
	box-sizing: border-box;
}

.ui-notice p {
	color: #333;
	font-weight: 600;
}

.ui-btn-primary {
	background-color: #02cd93;
	border-color: #02cd93;;
}

.ui-notice-btn {
	padding: 50px 0px 15px;
}
</style>
</head>
<body>
	<div class="block">
		<section class="ui-panel ui-panel-center ui-border-tb">
			<h2 class="ui-form-item">
				<span>北京大绿驰</span>
			</h2>
			<p style="color: red" th:if="${param.error}">用户名或密码错误</p>
			<div class="ui-form ui-border-t">
				<form name="loginForm" method="post" th:action="${loginProcessUrl}">
					<div class="ui-form-item ui-border-b">
						<label>用户名</label> <input type="text" name="username"
							placeholder="用户名" /> <a href="#" class="ui-icon-close"></a>
					</div>
					<div class="ui-form-item ui-border-b">
						<label>密&nbsp;&nbsp;&nbsp;&nbsp;码</label> <input type="password"
							name="password" placeholder="密码" /> <a href="#"
							class="ui-icon-close"></a>
					</div>
					<div class="ui-btn-wrap">
						<button type="submit" class="ui-btn-lg ui-btn-primary">登
							&nbsp;&nbsp; 录</button>
					</div>
				</form>
			</div>
		</section>
	</div>
</body>
</html>